@import "./colors";
@import "./size/size";

$font-100: 100;
$font-200: 200;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;
$font-900: 900;

$text-xs: 0.8rem;
$text-sm: 1rem;
$text-md: 1.2rem;
$text-lg: 1.4rem;
$text-h1: 2.4rem;
$text-h2: 2.2rem;
$text-h3: 2rem;
$text-h4: 1.8rem;
$text-h5: 1.6rem;
$text-h6: 1.4rem;
