@theme {
  --size-0: 0;
  --size-px: 1px;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-14: 3.5rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-24: 6rem;
  --size-28: 7rem;
  --size-32: 8rem;
  --size-36: 9rem;
  --size-40: 10rem;
  --size-44: 11rem;
  --size-48: 12rem;
  --size-52: 13rem;
  --size-56: 14rem;
  --size-60: 15rem;
  --size-64: 16rem;
  --size-72: 18rem;
  --size-76: 19rem;
  --size-80: 20rem;
  --size-84: 21rem;
  --size-88: 22rem;
  --size-92: 23rem;
  --size-96: 24rem;
  --size-100: 25rem;
  --size-104: 26rem;
  --size-108: 27rem;
  --size-112: 28rem;
  --size-116: 29rem;
  --size-120: 30rem;
}
